*.o
*.so
*.swp
*.swo
*.json
tas/tas
tests/bench_ll_echo
tests/lowlevel
tests/lowlevel_echo
tests/usocket_accept
tests/usocket_connect
tests/usocket_accrx
tests/usocket_conntx
tests/usocket_conntx_large
tests/usocket_move
tests/libtas/tas_ll
tracetool
statetool
scaletool
doc/latex
doc/html
.dockerwrap
