*.o
*.d
*.so
*.swp
*.swo
*.json
tas/tas
tests/bench_ll_echo
tests/lowlevel
tests/lowlevel_echo
tests/usocket_accept
tests/usocket_connect
tests/usocket_accrx
tests/usocket_conntx
tests/usocket_conntx_large
tests/usocket_move
tests/libtas/tas_ll
tests/libtas/tas_sockets
tests/tas_unit/fastpath
tests/full/tas_linux
tests/full/wrapper
tests/distfiles
tracetool
statetool
scaletool
doc/latex
doc/html
doc/xml
doc/_build
.dockerwrap
Makefile.local
